.large-elena {
    /* position: relative; */

    &__image{
        display: block;
    }

    &__text-context {
        /* position: absolute;
        top: 2%;
        left: 20%; */
    }

    &__profession {
        
    }

    &-name{
        /* color: #fff;
        position: absolute;
        padding-left: 18%; */

    &__familyName {
        
    }
    
    &__otherNames {
         
    }

    }
}