.primary-nav {
    width:100%;
    height: 3.125em;
    postion:fixed;
    z-index:10;
    line-height: 3.125rem;

    &-ul { 
        list-style-type: none;
        margin: 0 auto;
        padding-left:0;
        text-align:center;
        width: 60rem;
        max-width: 100%;

        &-li { 
            display: inline-block; 
            line-height: 3.75rem;
            padding-right: 1.875rem;
            margin-right: 1.875rem;
        
            &-a {
                text-decoration: none; 
                color: #333;
              }
          }     

      }
 
  }

  .test {
    height: calc(100vh - 3.125rem);
    background-color: orange;
    line-height: 100vh; 
  }
  
  
  